@media screen and (max-width:440px) {

    h1,
    h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    h3,
    h4 {
        font-size: 1rem;
        font-weight: 700;
    }

    p,
    label {
        font-size: 1rem;
    }

    .container {
        padding: 0;
    }

    /* Main page */

    .menu {
        max-width: 440px;
    }

    .menu__main {
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        height: auto;
        padding: 20px 0;
    }

    .menu__rolled {
        flex-direction: column;
    }

    .btn-primary {
        padding: 10px 20px;
    }

    .header {
        padding-top: 200px;
    }

    .header__angular1,
    .header__angular2 {
        width: 100px;
        height: 100px;
    }

    .products__title {
        margin-bottom: 30px;
    }

    .products__content {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 'vrl' 'vrp' 'a' 'm';
    }

    .products_vrpro p {
        margin: 20px 0;
    }

    .products__item-text {
        width: 100%;
    }

    .video {
        display: none;
    }

    .opportunities__title {
        margin-bottom: 30px;
    }

    .opportunities__body {
        flex-direction: column;
    }

    .opportunities__buttons label {
        height: 50px;
        width: 100%;
    }

    .opportunities__images {
        height: 420px;
    }

    .opportunities__images li span {
        width: 100%;
        font-size: 1rem;
        text-align: left;
        padding-left: 25px;
    }

    .other__container {
        background-position: center;
        background-size: cover;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .other__cards {
        width: 100%;
        height: 420px;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0;
    }

    .other__cards li {
        width: 100%;
        padding: 10px;
    }

    .other__card-title {
        font-size: 1rem;
        font-weight: 700;
    }

    .other__card-text {
        font-size: 1rem;
    }

    .other__cards li:nth-of-type(2n+1) {
        margin-right: 0;
    }

    .other__cards li:nth-of-type(1),
    .other__cards li:nth-of-type(2) {
        margin-bottom: 10px;
    }

    .other__cards li:nth-of-type(4) {
        display: none;
    }

    .other__cards li:hover::before {
        display: none;
    }

    .footer__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, minmax(200px, max-content));
        grid-template-areas: 'footqu' 'footdev' 'footsh' 'footsoc' 'footh';
    }

    .footer_quest h3,
    .footer_dev h3,
    .footer_shop h3 {
        margin-bottom: 20px;
    }

    .footer_quest a,
    .footer_dev a,
    .footer_shop a {
        margin-bottom: 12px;
    }

    .footer_social {
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
    }

    .footer_social svg {
        font-size: 70px;
        margin-left: 25px;
    }

    .footer_help {
        align-items: flex-start;
        text-align: left;
        width: 350px;
    }

    .footer_help h3 {
        width: fit-content;
        text-align: left;
        font-size: 1.5rem;
    }

    .footer_help p {
        width: 100%;
    }

    .footer_help a {
        padding: 14px 73px;
    }

    /* VR Glasses Light */

    .vrlight-body__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, minmax(200px, max-content));
        grid-template-areas: 'vrl-t' 'vrl-h' 'vrl-c' 'vrl-tech' 'vrl-b';
    }

    .vrlight-body__item {
        width: 90%;
        margin: 0 auto;
    }

    .vrlight-body__item img {
        height: 250px;
        width: 90%;
    }

    .vrlight-body_title,
    .vrlight-body_hardware,
    .vrlight-body_control {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .vrlight-body_technical {
        margin: 0 auto;
    }

    .vrlight-body_buy {
        align-items: center;
        margin: 0 auto;
    }

    .vrlight-body_buy a {
        font-size: 1rem;
        padding: 16px 50px;
    }

    /* VR Glasses PRO */

    .vrpro-body__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, minmax(200px, max-content));
        grid-template-areas: 'vrp-t' 'vrp-h' 'vrp-c' 'vrp-tech' 'vrp-b';
    }

    .vrpro-body__item {
        width: 90%;
        margin: 0 auto;
    }

    .vrpro-body__item img {
        height: 250px;
        width: 90%;
    }

    .vrpro-body_title,
    .vrpro-body_hardware,
    .vrpro-body_control {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .vrpro-body_title p,
    .vrpro-body_hardware p,
    .vrpro-body_control p {
        justify-self: flex-start;
    }

    .vrpro-body_technical {
        margin: 0 auto;
    }

    .vrpro-body_buy {
        align-items: center;
        margin: 0 auto;
    }

    .vrpro-body_buy a {
        font-size: 1rem;
        padding: 16px 50px;
    }

    /* Accessories */

    .accessories__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(13, minmax(200px, max-content));
        grid-template-areas: 'a-c1' 'a-c2' 'a-c3' 'a-c4' 'a-c5' 'a-c6' 'a-c7' 'a-c8' 'a-c9' 'a-c10' 'a-c11' 'a-c12' 'a-c13';
    }

    .a-card {
        padding: 15px;
        width: 90%;
        margin: 0 auto;
    }
    .a-card p {
        max-width: 55%;
        min-width: 50%;
    }
    .a-card1{
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
    }
    .a-card1 hr {
        width: 30%;
        margin-top: 30px;
    }
    .a-card2, .a-card3, .a-card4, .a-card5, .a-card6, .a-card7, .a-card8, .a-card12{
        background-position: left;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        background-size: contain;
    }

}